<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 3
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum ex vitae risus dictum, elementum commodo nunc blandit. Sed eget nisl quis arcu varius ultricies. Sed vel mauris rutrum, laoreet metus eget, sollicitudin magna. Nullam posuere rhoncus blandit. Fusce finibus vitae nisl eget tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac turpis et nisi varius tempor. Maecenas lacinia consequat lacus et scelerisque. Donec pharetra, eros in ornare blandit, nulla elit dictum sem, sit amet semper massa tortor ac augue. Donec id fringilla elit. Cras vel eros sed leo tincidunt pellentesque vel et mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur a hendrerit enim. Etiam eros leo, egestas a imperdiet vel, vestibulum vitae tellus.

Proin fermentum neque ligula, vel consequat libero blandit at. Mauris tristique velit ac aliquet maximus. Duis malesuada orci id elementum feugiat. Nulla sodales libero sed sagittis laoreet. Donec molestie tincidunt facilisis. Ut cursus magna dictum tellus vehicula, quis ornare nulla lacinia. Vestibulum pellentesque risus in tellus efficitur congue. Pellentesque placerat molestie consectetur. Suspendisse quis diam et nisl maximus consequat vel eu erat. Nam ac consequat libero, id egestas nisi. Sed iaculis lectus quis luctus placerat. Ut tempor, ipsum ac tempor imperdiet, dolor odio ultricies lorem, bibendum egestas mi odio ac eros.

Maecenas et magna sed eros dictum dignissim. Pellentesque fringilla ante ac odio luctus convallis. Aenean mauris enim, molestie in nisi suscipit, aliquet maximus ante. In hac habitasse platea dictumst. In pharetra consequat scelerisque. Maecenas tincidunt leo id turpis tempor, sed ornare magna rhoncus. Pellentesque vestibulum, massa varius commodo lacinia, ante leo aliquet ex, vitae suscipit leo dolor a turpis. Phasellus sed lorem et nisl sodales facilisis at ac leo. Quisque dui dui, finibus in dignissim id, ultricies non quam. Aliquam vehicula gravida eros id dictum. Fusce condimentum tellus at purus aliquam scelerisque. Nullam blandit ut mi eu bibendum. Suspendisse sem sapien, mattis id felis a, auctor molestie turpis. Pellentesque rhoncus sollicitudin ipsum vitae egestas. Sed orci nibh, dictum a neque vitae, vestibulum faucibus justo.

Mauris interdum commodo nisl eget viverra. Vestibulum fringilla dapibus hendrerit. Pellentesque laoreet non arcu quis malesuada. Vestibulum in nisl a erat finibus suscipit vitae vitae sapien. Curabitur vehicula nec ipsum quis facilisis. Nulla accumsan ultricies felis, sed lacinia dui semper quis. Vestibulum rhoncus ipsum at molestie posuere. Praesent at nisi tincidunt, viverra turpis ut, varius libero. Fusce elementum aliquet sem, sed mollis magna elementum sit amet. Pellentesque non ex turpis. Integer sodales massa eget malesuada lacinia. Fusce vitae dolor lorem. Sed bibendum lacinia ante sed imperdiet. Ut et mollis urna, et auctor ipsum.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris malesuada leo tellus, eget facilisis orci vestibulum nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus blandit metus pretium sem imperdiet ornare. Proin eu auctor magna. Vestibulum a nisl id mi consequat elementum. Ut laoreet metus eget quam porta, quis semper justo sodales. Duis leo nisl, tincidunt nec pulvinar maximus, varius sit amet quam. Quisque consequat velit a libero tristique vehicula. Suspendisse non libero at odio consequat fermentum. Aliquam odio nisi, volutpat eu lacus sed, aliquet mollis ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Vivamus nisi ligula, dignissim quis velit vitae, varius ornare sapien. Quisque vitae urna diam. Nam in nisl eget nunc sodales dictum eget in diam. Donec fringilla ultricies gravida. Curabitur aliquet varius neque, feugiat dignissim tellus fermentum quis. Phasellus mollis vitae risus quis efficitur. Aliquam quam ligula, vehicula id suscipit vitae, posuere pharetra erat. Sed luctus ut diam et maximus. Aliquam tortor dolor, hendrerit a luctus ac, commodo sed leo. Etiam iaculis ex leo, eget maximus mauris vehicula ut. Maecenas aliquam condimentum egestas. Vivamus fringilla nulla sed nulla euismod, ut varius neque volutpat.
  </p>

<img src="../../assets/Images/Canva - Selective Focus Photography Of Mountain Bike .jpg"/>
  <h3 class="pg">Pg 3</h3>
  <ion-button color="secondary" fill='outline' [routerDirection]="'root'" [routerLink]="['/chapter2']">Previous Page</ion-button>
  <ion-button color="secondary"  [routerDirection]="'root'" [routerLink]="['/chapter4']">Next Page</ion-button>
  <ion-button color="medium" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back to Table of Contents</ion-button>
</ion-content>