<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a leo at risus commodo cursus. In scelerisque at ipsum sed luctus. Aenean vel luctus urna, eu tempor sem. Vestibulum et pulvinar lorem, vestibulum malesuada felis. Vestibulum in mattis erat. Nunc nisl ipsum, aliquet ut cursus ac, scelerisque quis sem. Morbi ornare quis sem nec maximus. Phasellus auctor erat et metus dictum, congue sagittis arcu eleifend. Nullam congue neque lacus, id posuere metus ullamcorper a.

Phasellus id felis in ex commodo lacinia. Vestibulum pharetra felis eget ipsum ullamcorper, sit amet consectetur leo faucibus. Duis auctor tincidunt feugiat. Sed nec convallis urna. Aliquam eu neque porttitor, elementum nulla at, malesuada ante. Nullam euismod egestas cursus. Proin maximus mauris a lectus convallis, sit amet commodo turpis ultricies. Mauris ut enim turpis. Donec nec erat sapien. Phasellus sed dapibus eros. Mauris consequat dui velit, non imperdiet elit venenatis eget. Vestibulum nec diam nec augue suscipit molestie. Phasellus risus sapien, viverra a sodales eu, interdum ac ante. Donec ultricies aliquam libero, ac convallis justo imperdiet vitae.

Nullam facilisis nec nibh at lobortis. Pellentesque porta orci eu arcu sodales, nec facilisis odio ultricies. Quisque condimentum lectus lorem. Vivamus sed congue tortor, id molestie ligula. Pellentesque ut dapibus nisi. Integer consequat risus non ullamcorper pellentesque. Donec aliquam turpis non bibendum efficitur. Duis diam sem, ultrices ac hendrerit et, facilisis ut neque. Fusce vulputate metus porta pellentesque pulvinar.
  </p>
  <img src="../../assets/Images/Canva - Person Walking On Railway.jpg"/>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget congue leo. Vestibulum vel ex ut nibh tristique tempus. Quisque imperdiet leo a pellentesque luctus. Aliquam viverra auctor libero et maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam euismod leo eget neque faucibus cursus. In tellus mi, consectetur nec risus vel, sodales aliquet metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur massa dui, mollis vel tortor at, rutrum rhoncus nibh. Vivamus nunc elit, euismod id rutrum fermentum, pulvinar non nunc. Proin pretium ac odio in sodales. Sed venenatis lectus nec magna porta, at ultricies nisl blandit.

Aliquam porta metus vitae felis pharetra rhoncus. Pellentesque malesuada arcu sem. Nunc sodales, felis et porttitor dictum, ligula tortor feugiat tortor, et molestie sapien tortor ac dui. Suspendisse congue semper hendrerit. Cras rutrum sit amet mi condimentum facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst.
  <h3 class="pg">Pg 2</h3>
  <ion-button color="secondary"  fill='outline' [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Page</ion-button>
  <ion-button color="secondary" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Page</ion-button>
  <ion-button color="medium" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back to Table of Contents</ion-button>
</ion-content>